<a href="https://colab.research.google.com/github/JuBeer16/estructura_datos/blob/main/01_Introduccion_a_Python/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
# Crear una lista de frutas
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

In [6]:
students = ['jose','juan','carlos','antonio']
students

['jose', 'juan', 'carlos', 'antonio']

In [ ]:
der-izqui     -4      -3         -2         -1
izq-der           0      1       2         3
#students = ['jose','juan','carlos','antonio']

In [5]:
students[2]

'carlos'

In [10]:
print (students[1])
print (students[-3])
print (students [0:3])

juan
juan
['jose', 'juan', 'carlos']

In [17]:
my_list = [1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]
my_list

[1, 2, 3, 4, 5, 6, [7, 8, 9], 10, 11, 12]

In [33]:
print(my_list[-8:-5])
print(my_list[6])
print(my_list[6][1])
a = my_list [6]
print(a[1])
print(my_list[6:])

[3, 4, 5]
[7, 8, 9]
8
8
[[7, 8, 9], 10, 11, 12]

In [34]:
len(my_list)

10

In [ ]:
list

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:

# Insertar un elemento en una posición específica
frutas.insert(2, "mango")
print(frutas)

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

In [ ]:
# Ordenar una lista
frutas.sort()
print(frutas)

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1))
print("Números en orden inverso:", reversa)

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)]
print(cuadrados)

In [35]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [ ]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres]
print(nombres_mayuscula)

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [38]:
impares = [x for x in range(1, 51) if (x % 2)-1 == 0]
print(impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [39]:
cubos = [x**3 for x in range(1, 11)]
print(cubos)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [40]:
word_list = []

while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word.upper() for word in word_list if len(word) > 4]
print(word_mayusculaa)

Ingrese una palabra (escriba exit para salir): exit
[]

In [41]:
while True:
  word = input("Ingrese una palabra (escriba exit para salir): ")
  if word == "exit":
    break
  else:
    word_list.append(word)
    print("lista actualizada", word_list)

word_mayusculaa = [word for word in word_list if len([x for x in word if x == x.upper()]) > 4]
print(word_mayusculaa)

Ingrese una palabra (escriba exit para salir): ALBERTO
lista actualizada ['ALBERTO']
Ingrese una palabra (escriba exit para salir): juan
lista actualizada ['ALBERTO', 'juan']
Ingrese una palabra (escriba exit para salir): ANTONIO
lista actualizada ['ALBERTO', 'juan', 'ANTONIO']
Ingrese una palabra (escriba exit para salir): josesito
lista actualizada ['ALBERTO', 'juan', 'ANTONIO', 'josesito']
Ingrese una palabra (escriba exit para salir): exit
['ALBERTO', 'ANTONIO']

In [42]:
word_mayusculaa

['ALBERTO', 'ANTONIO']

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---